@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Arial, Verdana, Helvetica, sans-serif;
    word-break: break-all;
    word-wrap: break-word;
}

a { text-decoration: none; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.fl { float: left; }
.fr { float: right; }

.show { display: block; }
.hide { display: none; }

.mt0 { margin-top: 0; }

.submit,
.submit:visited {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-family: inherit;
    text-align: center;
    padding: 2px 10px;
/*    font-size: 12px;*/
    border: 1px solid #aa0000;
    background-color: #dd0000;
    border-radius: 4px;
    text-shadow: 0px -1px -1px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    background-image: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, #dd0000), color-stop(1, #aa0000)
    );
}
    .submit:hover {
        text-decoration: none;
        border: 1px solid #aa0000;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
        background-image: -webkit-gradient(
            linear, left top, left bottom,
            color-stop(0, #ee0000), color-stop(1, #bb0000)
        );
    }
    .submit:active {
        border: 1px solid #990000;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
        background-image: -webkit-gradient(
            linear, left top, left bottom,
            color-stop(0, #cc0000), color-stop(1, #aa0000)
        );
    }
    .submit.url {
        font-family: Arial;
        letter-spacing: 0;
        word-break: break-all;
        word-wrap: break-word;
    }
    .submit.disabled {
        border: 1px solid #444;
        background-image: -webkit-gradient(
            linear, left top, left bottom,
            color-stop(0, #555), color-stop(1, #666)
        );
    }

    .submit.blue,
    .submit.blue:visited {
        border: 1px solid #1078DE;
        background-color: #dd0000;
        background-image: -webkit-gradient(
            linear, left top, left bottom,
            color-stop(0, #1e90ff), color-stop(1, #1078DE)
        );
    }
        .submit.blue:hover {
            border: 1px solid #1884ED;
            background-image: -webkit-gradient(
                linear, left top, left bottom,
                color-stop(0, #3C9CFA), color-stop(1, #1884ED)
            );
        }
        .submit.blue:active {
            border: 1px solid #0968CE;
            background-image: -webkit-gradient(
                linear, left top, left bottom,
                color-stop(0, #1078DE), color-stop(1, #0968CE)
            );
        }

