@charset "UTF-8";

input, textarea, select {
  border: 1px solid #000;
  padding: .90em .75em;
  font-weight:bold;
  line-height: 1.2em;
  width: 80%;
  background-color: #444;
  color: #fff;
  font-family: Arial, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, #222, #444);
  -webkit-appearance: none;
  box-shadow: inset 0 0 .75em rgba(0, 0, 0, .6);
  border-radius: 3px;
}

input:focus, textarea:focus, select:focus {
  outline-color: #c00;
}

textarea {
  height: 55px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
}

select {
  padding: 0.5em 1em 0.5em 0.75em;
  background: #444 url(chrome-extension://__MSG_@@extension_id__/images/select.png) no-repeat right center;
  -webkit-background-size: 1600px 32px;
}

input[type=text] {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.12, #333));
}

input[type=submit] {
  width: auto;
  padding: 0.25em 1em;
  line-height: 1.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(#a00), to(#600));
  border: 2px solid #c00;
  text-shadow: 0 0 2px #300;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 3px #000;
  margin-right: 0.5em;
}

input[type=reset] {
  width: auto;
  padding: 0.25em 1em;
  line-height: 1.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
  border: 2px solid #444;
  text-shadow: 0 0 2px #300;
  font-weight: bold;
  color: #999;
  box-shadow: 1px 1px 3px #000;
}

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  line-height: 1em;
  margin: 0 .25em 0 0;
  padding: .25em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.25em;
  vertical-align: middle; /* |text-top|middle| */
}

input[type=radio] {
  border-radius: 2em;
}

input[type=checkbox]:checked {
  background: url('chrome-extension://__MSG_@@extension_id__/images/checkbox.png') no-repeat center center;
  -webkit-background-size: 28px 28px;
}
input[type=radio]:checked {
  background: url('chrome-extension://__MSG_@@extension_id__/images/radio.png') no-repeat center center;
  -webkit-background-size: 28px 28px;
}

fieldset p {
  margin-bottom: 0.5em;
}
  fieldset p:last-child {
    margin-bottom: 0;
  }

input.label {
  background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#000));
  box-shadow: 0 0 .75em rgba(0, 0, 0, .6);
}
input.apply-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#0a0), to(#080));
  box-shadow: 0 0 .75em rgba(0, 0, 0, .6);
  text-shadow: 0 1px 1px #300;
  font-size: 100%;
}
  input.apply-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#0b0), to(#090));
  }
  input.apply-button:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#070), to(#080));
    /*background: -webkit-gradient(linear, left top, left bottom, from(#070), to(#080));*/
    text-shadow: 0 -1px -1px #300;
    top: 1px;
  }


