/**
 * POPUP PAGE STYLESHEET
 *
 */

body {
	color: #fff;
	margin: 0;
}

body, input {
	font-size: 13px;
}

pre {
	padding: .5em;
	background-color: #222;
	font-family: Arial;
	line-height: 1.4;
}


.top-shadow {
	box-shadow: inset 0 0 .5em .5em rgba(0, 0, 0, .2);
}


.msg-zone {
	display: none;
	width: inline-block;
	margin-bottom: 1em;
	border-radius: 10px;
	padding: 8px;
	background-color: #555;
	border: 1px solid #444;
}

#container {
    background-color: #111;
    border-radius: 3px;
}


/* -- HEADER -- */
header {
    padding: 1em;
}
header h1 {
	background: url(chrome-extension://__MSG_@@extension_id__/images/19.png) 0 0 no-repeat;
	font-size: 14px;
	color: #fff;
	padding: .25em 2em;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}


/* PAGEBODY */
section {
	padding: 1em 2em;
	background-color: #222;
}


.group {
    margin-bottom: 1em;
}


/* -- FOOTER -- */
footer {
    padding: 1em;
}
footer,
footer a {
	font-size: 90%;
	font-weight: bold;
	line-height: 1.5;
	color: #999;
	text-decoration: none;
}
footer a:hover {
	color: #fff;
}
    footer nav * {
        font-size: 100%;
    }
	footer .copyright {
		margin-top: 1em;
		font-weight: bold!important;
		display: block;
		font-size: 90%;
		font-family: Arial, 'Times New Roman', Verdana, sans-serif;
	}


